<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="62873DahlmanLabs.385170C1C06F4" Publisher="CN=14946E2A-F8E4-43EE-9614-21D7694D3EB3" Version="1.6.0.0" />
  <mp:PhoneIdentity PhoneProductId="c4a0b4aa-e7aa-4839-b95b-4a92454e1a8e" PhonePublisherId="df7a4ced-8277-491e-a52c-1caad6bb1de8" />
  <Properties>
    <DisplayName>Dahlex</DisplayName>
    <PublisherDisplayName>Dahlman Labs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="xc4a0b4aaye7aay4839yb95by4a92454e1a8ex" Executable="AGHost.exe" EntryPoint="Views/MainPage.xaml">
      <m3:VisualElements DisplayName="Dahlex" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="Dahlex" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="SplashScreenImage.jpg" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>